{{ define "main"}}

<div class="home-hero">

  <div  class="hero-content">
   <center> <h1>Wellcome to <span class="gradient-text">Exploit-Me</span></h1>
   This is a website used to publish tricks and technique with a strong focus on offensive security, red teaming, penetration testing. </center>
     

  </div>

 <!-- > <div class="vid hero-vid">
    <iframe src="https://player.vimeo.com/video/599890291" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div> -->
     
</div>

<hr />

<div class="row row-home">
    <section class="flex-center">
      <a href="/about"
        ><img class="gde-logo"
          src='/img/pages/1.png'
          alt="Khanisgr8"
      /></a>
    </section>
    <section>
      <h2>
        🎙️ About me
      </h2>
      <p>
        Hi, I'm Khanisgr8 🚀 
      </p>

     
    </section>
  </div>



<hr />
<h2 class="text-center home-heading">NEW  POSTS</h2>
<h4 class="home-sub-heading text-center">Latest updates, tools and blog posts.</h4>


 {{ range first 1 (where site.RegularPages "Type" "in" "blog") }}

  <div class="row row-max-2">

      <div class="card card-lesson">
        {{ partial "lesson-image.html" . }}
        <div class="card-content">

        <a href="{{ .RelPermalink }}">
            <h3>{{ .Title }}</h3>
        </a>

        <p>{{ .Params.description }}</p>

        {{ partial "tags.html" .  }}

        </div>
    </div>
  </div>

  {{ end }}

 
     
   
  {{ partial "footer.html" .  }}

{{ end }}

