{{ define "main"}}

<div class="home-hero">

  <div  class="hero-content">
   <center> <h1>Under <span class="gradient-text">Construction</span></h1></center>
     

  </div>

 <!-- > <div class="vid hero-vid">
    <iframe src="https://player.vimeo.com/video/599890291" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div> -->
     
</div>

<hr />

<div class="row row-home">
    <section class="flex-center">
      <a href="/about"
        ><img class="gde-logo"
          src='/img/pages/1.png'
          alt="Jeff Delaney Google Developer Expert"
      /></a>
    </section>
    <section>
      <h2>
        🎙️ Your Host
      </h2>
      <p>
        Hi, I'm Khanisgr8 🚀 
      </p>

      <p>📜 <a href="/about">About me</a></p>
    </section>
  </div>

  
  {{ partial "footer.html" .  }}

{{ end }}

