<nav class="topnav">

  <div class="topnav-logo">
    <a href="/" class="khan">
      {{ partial "svg/logo.svg" . }}
      <!-- <div class="version">v{{ .Site.Data.defaults.version }}</div> -->
    </a>
  </div>

  <div class="topnav-links flex-center hide-sm">
    <a href="/blog" class="item item-text" aria-label="blog">
      {{ partial "svg/tv.svg" . }}
      Blog
    </a>
    
    <a href="/cheatsheet" class="item item-text" aria-label="CheatSheet">
      {{ partial "svg/backpack.svg" . }}
      cheat-sheet
    </a>

    <a href="/tags" class="item item-text" aria-label="Tags">
      {{ partial "svg/tags.svg" . }}
      Tags
    </a>
    
 
  </div>


  <div class="topnav-icons flex-center">

    
 <modal-button selector="algolia-search">
      <span class="item">
          {{ partial "svg/search.svg" . }}
          <span class="item-label tag tag-blue tag-sm">Search</span>
      </span>
    </modal-button>

  <theme-btn >
      <span slot="dark" class="item">{{ partial "svg/sun.svg" }}</span>
      <span slot="light" class="item">{{ partial "svg/moon.svg" }}</span>
      <span class="item-label tag tag-pink tag-sm">Theme</span>
  </theme-btn>
    
    
    

  </div>


  <!-- <menu-toggler selector="#mega">

    <div slot="button" class="item mega-dropdown">
      {{ partial "svg/ellipsis.svg" }}
    </div>

    <div slot="close" class="item mega-dropdown close">
      {{ partial "svg/close.svg" }}
    </div>
  </menu-toggler> -->

  <!-- <div id="mega" class="mega-menu">
      <div class="mega-main">
          <section>
            <h3>Content</h3>
            <ul>
              <li><a href="/lessons">Video Lessons</a></li>
              <li><a href="/courses">Full Courses</a></li>
              <li><a href="/snippets">Quick Snippets</a></li>
              <li><a href="/tags">#tags</a></li>
            </ul>
          </section>

          <section>
            <h3>People</h3>
            <ul>
              <li><a href="/mission">Manifesto</a></li>
              <li><a href="/contributors">Contributors</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="{{ .Site.Data.links.slack }}">Slack Chat</a></li>
            </ul>
          </section>

          <section>
            <h3>Tags</h3>
            <ul>
              <li><a href="/tags/angular">#angular</a></li>
              <li><a href="/tags/flutter">#flutter</a></li>
              <li><a href="/tags/firebase">#firebase</a></li>
              <li><a href="/tags/stripe">#stripe</a></li>
            </ul>
          </section>
      </div>
      <div class="row mega-footer">
          <span>Fireship.io</span> <a href="/terms">terms</a> <a href="/privacy-policy">privacy</a> <a href="/style-guide">style guide</a>
      </div> -->
</nav>
